@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
  20%, 24%, 55% { opacity: 0.5; }
}

h1 {
  animation: flicker 2.5s infinite;
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align:center;
    color: white;
}

h1 {
    font-size: 50px;
}

ul {
    display: flex;
    color: orange;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type:none;
    gap: 25px;
    font-size: 25px;

}
ul li:hover {
  color: white;
  text-shadow: 0 0 10px orange;
  transform: scale(1.1);
  transition: 0.3s ease;
  cursor: pointer;
}


main {
    color: red;
}

main img {
    box-shadow: 50px orange;
    filter: drop-shadow(0 0 15px orange);
    width: 300px;
}

section {
    border-radius: 5px;
    margin: 25px auto;
    border: 2px solid orange;
    width: 650px;
    background-color: purple;
}

section h2 {
  color: orange;
  text-shadow: 3px 3px 8px black;
}

p {
    color: red;
    text-shadow: 8px 8px 10px darkred;
}