/* General Page Styling */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfbfb;
}

/* HEADER GRID */
header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: rgba(111, 115, 100, 0.9);
}

.logo {
  width: 80px;
  border-radius: 50%;
}

.icon {
  display: flex;
  height: 100px;
  width: 100px;
  align-items: center;

}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

/* HERO SECTION */
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-img {
  width: 100%;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  text-align: center;
  color: white;
}

#hero-msg h4 {
  color: white;
}

.book {
  background-color: #d9c2a3;
  color: #6f7364;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

/* MAIN GRID */
.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card-img,
.mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

#background {
  grid-column: 1/11;
  grid-row: 4/9;
}

.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg {
  background-color: #6f7364;
  color: white;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg a {
  display: inline-block;
  margin-top: 15px;
  background-color: #d9c2a3;
  color: #6f7364;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

/* IMAGE EFFECTS */
.card-img {
  border: 10px solid #d9c2a3;
  box-shadow: 5px 5px 10px #6f7364;
}

/* FOOTER */
footer {
  background-color: #6f7364;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p,
footer a {
  color: white;
}

.media img {
  height: 100px;
  width: 100px;
  border-radius: 25%;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 900px) {

  #hero,
  .home-grid {
    display: block;
    height: auto;
  }

  nav,
  footer {
    flex-direction: column;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  #hero {
    margin-top: 0;
  }

  #hero-msg {
    margin-top: 0;
  }

  #hero-msg h4 {
    display: none;
  }

  #hero-msg h1 {
    color: #6f7364;
  }

  .home-title {
    font-size: 25px;
  }

  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }

  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  footer {
    margin-top: 25px;
  }

}